body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body > div{
  padding: 0 !important;
  position: relative;
  min-height: 100vh;
}

#info1{
  margin-top: 3%;
}

#info2{
  margin-top: 5%;
}

.logo-img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.body-full-bg{
  background-color: black;
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: auto 230%;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Numans', sans-serif;
}

.welcome-text{
  text-align: center;
  margin: 10%;
  color: white;
  padding-top: 2rem;
}

a:hover{
  text-decoration: none;
}

.submit-button{
  background-color: #a62b00;
  border-color: #a62b00;
  border-radius: 50%;
}

/*Background image*/
.bg-image {
  /* The image used */
  background-image: url("../mockup/pallini.jpeg");
  
  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(10px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

#divImgBlurred{
  width: 100%;
  top: -72px;
  left: 0%;
  height: 100%;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  background-color: #4c3d70;
  z-index: -1;
}

#divImgBlurred::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: .2;
}

#blurredImg{
  -webkit-filter: blur(15px);
  filter: blur(15px);
  top: 0;
  height: 110vh;
  width: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*Navbar*/
nav{
  background-color: #024869;
}

nav ul a{
  font-size: larger;
}


#containerLogo{
  width: 12%;
}

/*Search card*/

#rectangleForm h5, #rectangleForm input{
  font-size: 150%;
}

.card, #loginForm{
  position: absolute;
  top: 35%;
  left: 65%;
  border-radius: 0px;
}

/*Register*/

.register-form{
  padding-top: 2%;
  margin-top: 3%;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
}

.btn-outline-light:focus, .btn-outline-light.active:focus{
  box-shadow: none;
}

.form-content
{
    padding: 5%;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.labelForms {
  color: white;
}

/* add event form*/


#ticket-label{
  color: white;
}

.file {
  visibility: hidden;
  position: absolute;
}

/*Shopping chart*/
.select-right{
  display: inline-block;
}

#buy-btn{
  border-radius: 5%;
}

/*Login Form*/

#loginForm{
  border-radius: 4px;
}

.container{
height: 100%;
align-content: center;
}

#loginForm{
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}
  
.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.register-link{
  background-color: #FFC312;
  color: black;
  padding: 1px;
  border-radius: 3px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.disabled{
  pointer-events: none;
  cursor: default;
}

.links a{
margin-left: 4px;
}

.card button{
  background-color: #a62b00;
  position: absolute;
  top: 92%;
  left: 80%;
}

.btn-circle{
  border-radius: 50%;
}

.search-bar{
  height: max-content;
  background: none;
  border-width: 0 0 2px 0;
}

.search-bar{
  border-collapse: unset;
  outline: none !important;
  background: none;
  color: white;
}

.nav-link{
  width: -webkit-fill-available;
}

.form-inline, .nav-item{
  width: fit-content;
  display: inline-flex;
}

/*Event section*/

.nav-pills .nav-link.active, .btn-blue{
  background-color: #2B9FDA;
  color: black;
}

#pills-tabContent{
  margin: 3%;
}

.event-img{
  margin: 0 0 3% 0;
}

main{
  padding-bottom: 7.5rem;
}

/*Footer*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5rem;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: #024869;
  color: white;
}

@media only screen and (max-width: 992px){

  .labelForms{
    margin-top: 0.5rem;
  }

  .logo-img{
    width: 30%;
  }

  .welcome-text{
    font-size: xx-large;
  }

  #divImgBlurred{
    height: 70%;
  }

  #bandImage{
    position: absolute;
    top: 0%;
    left: 5%;
    height: auto;
  }

  #containerLogo{
    width: 25%;
  }

  .card, #loginForm {
    position: relative;
    margin-top: 20%;
    left: 10%;
  }

  .card button{
    top: 95%;
    left: 70%;
  }

  #loginForm button{
    top: 90%;
    left: 70%;
  }

  .register-form{
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
  }
}

@media (min-width: 992px){

  .labelForms{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .welcome-text{
    margin: 3%;
  }

  #loginForm{
    position: relative;
    max-width: 60%;
    max-height: 50%;
    left: 20%;
    top: 40%;
  }
}

@media (min-width: 2048px){
  #containerLogo{
    width: 8%;
  }
}

@media only screen and (min-width: 768px) {

  .buttonForm{
    position: absolute;
    bottom: 20%;
    right: 0%;
  }

}