<img class="logo-img" src="logo/logo.png" alt="logo"/>
<h2 id="info1">
    Siamo un gruppo di ragazzi con l'obiettivo di offrirvi un servizio di ricerca eventi ottimale.
</h2>
<h3 id="info2">
    Andrea Ferretti, Gianmarco Baiocchi, Edoardo Luciani
</h3>